.gridContainer {
    margin: 50px auto;
    display: grid;
    height: 700px;
    width: 600px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.profilePicture {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
    background-image: url("../../public/Photo on 16.10.2024 at 13.17.jpeg");
}
