.gridContainer{
  margin: 50px auto;
  display: grid;
  height: 700px;
  width: 600px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

}
.sectionA{
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
}
.sectionA i{
  text-decoration: underline;
}

.sectionC{
  grid-row: span 2;
}

.sectionA, .sectionB, .sectionC, .sectionD{
  border: 2px solid var(--foreground);
  padding: 20px;
  border-radius: 30px;
  cursor: pointer;
}
.sectionA:hover, .sectionB:hover, .sectionC:hover, .sectionD:hover {
  transition: 0.25s;
  box-shadow: 0 0 40px var(--foreground);

}
.sectionA:hover{
  grid-row: span 3;
}
.sectionA:not(:hover), .sectionB:not(:hover), .sectionC:not(:hover), .sectionD:not(:hover){
  transition: 0.3s;
  box-shadow: none;

}
.profilePicture{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-image: url("../../public/Photo on 16.10.2024 at 13.17.jpeg");

}
